@page "/devices"
@using Web.Models
@using Web.Services
@inject DeviceService DeviceService

<h1>Liste des machines</h1>

@if (DeviceList == null)
{
    <p>Chargement...</p>
}
else
{
    <div class="row">
        @foreach (var device in DeviceList)
        {
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-header">
                        Nom: @device.name
                    </div>
                    <div class="card-body">
                        <p>Machine ID: @device.id</p>
                        <p>MAC: @device.mac</p>
                        <p>IP: @device.ip</p>
                        <p>OS: @device.os</p>
                        <p>Actif: @device.isenabled</p>
                        <p>Créé le: @device.createdat</p>
                        <p>Modifié le: @device.updatedat</p>
                        <p>ID Salle: @device.roomid</p>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary">Modifier</button>
                        <button class="btn btn-danger">Supprimer</button>
                    </div>
                </div>
            </div>
        }
    </div>
}

@code {
    private Web.Models.devices[] DeviceList;
    private DeviceService deviceService;

    protected override async Task OnInitializedAsync()
    {
        deviceService = new DeviceService();
        DeviceList = await deviceService.GetDevices();
    }
}
