@page "/users"
@using Web.Models
@using Web.Services
@inject UserService UserService


@using System.Net.Http
@using Newtonsoft.Json
@inject HttpClient httpClient
@inject NavigationManager NavigationManager

<h1>Liste des utilisateurs</h1>

<div>
    <a href="/create-user" class="btn btn-success">Créer un utilisateur</a>
</div>

@if (UserList == null)
{
    <p>Chargement...</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Adresse e-mail</th>
                <th>Mot de passe</th>
                <th>Role</th>
                <th>Actif</th>
                <th>Crée le</th>
                <th>Modifié le</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in UserList)
            {
                <tr>
                    <td>@user.id</td>
                    <td>@user.email</td>
                    <td>@user.password</td>
                    <td>@user.role</td>
                    <td>@user.isenabled</td>
                    <td>@user.createdat</td>
                    <td>@user.updatedat</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    private Web.Models.users[] UserList;

    protected override async Task OnInitializedAsync()
    {
        UserList = await UserService.GetUsers();
    }

    private async Task EditUser(users user)
    {
        //NavigationManager.NavigateTo($"/edituser/{user.Id}");
    }
}
